.about-section {
  padding: 30px 0;

  text-align: center;
  @media screen and (min-width: $tablet) {
    padding: 40px 0 47px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 40px 0 19px 0;
  }
}
.about {
  padding: 0 30px;

  list-style: none;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    padding: 0 55px;
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 66px;
  }
}
.about__item {
  margin-bottom: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 71px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.about__icon {
  margin-bottom: 9px;
  padding: 16px;

  display: table-cell;
  vertical-align: middle;
  font-size: 34px;

  border-radius: 50%;

  background-color: $accent-color;
  color: $white-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 15px;
    font-size: 35px;
  }
}
.about__title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: $text-color;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 33px;
  }
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: $text-color;
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}
