.blog-section {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.blog__img {
  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}
.blog__img > picture > img {
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog-block {
  padding: 30px;
  background-color: #0284d0;
  @media screen and (min-width: $tablet) {
    width: 50%;
    padding-right: 39px;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 44px;
    padding-bottom: 113px;
    padding-top: 112px;
  }
}

.blog__subtitle {
  margin-bottom: 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  color: $white-color;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 33px;
  }
}

.blog__title {
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  color: $white-color;
  @media screen and (min-width: $tablet) {
  }
}

.blog__text {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;

  color: $white-color;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}

.blog__button {
  width: 184px;
  height: 47px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: $white-color;

  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 5px;

  background-color: Transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $white-color;
    color: #0284d0;
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}
