.blog-section {
  // margin: 0 auto;
  // max-width: 320px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.blog__img {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.blog__img > img {
  object-fit: cover;
  display: block;
  height: 100%;
}
.blog-block {
  padding: 30px;
  background-color: #0284d0;
  @media screen and (min-width: 768px) {
    width: 50%;
    padding-right: 39px;
  }
  @media screen and (min-width: 1360px) {
    padding-right: 44px;
    padding-bottom: 113px;
    padding-top: 112px;
  }
}

.blog__subtitle {
  margin-bottom: 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 166% */

  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 33px;
  }
}

.blog__title {
  margin-bottom: 25px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 126% */

  color: #ffffff;
  @media screen and (min-width: 768px) {
  }
}

.blog__text {
  margin-bottom: 14px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  /* or 160% */

  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.blog__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 160% */

  color: #ffffff;

  width: 184px;
  height: 47px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;

  background-color: Transparent;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }

  &:hover {
    background-color: #ffffff;
    color: #0284d0;
  }
}
