.cases-section {
  padding: 50px 28px 46px 28px;
}

.cases-block {
  padding: 0 5px;
}
.cases__subtitle {
  margin-bottom: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: $text-color;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 33px;
  }
}
.cases__title {
  margin-bottom: 35px;

  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  text-align: center;

  color: $text-color;
}

.cases__text {
  margin-bottom: 37px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: $text-color;
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}

.slider {
  margin-bottom: -7px;

  list-style: none;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -8px;
  }
}
.slider__item {
  margin-bottom: 7px;
  @media screen and (min-width: $tablet) {
    width: 172px;
    margin-left: 8px;
  }
  @media screen and (min-width: $desktop) {
    width: 320px;
  }

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    opacity: 0.7;
  }
}
