.header__section {
  width: 100%;
  text-align: center;

  position: fixed;
  z-index: 11;

  padding-bottom: 20px;

  opacity: 0.8;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
  }
  @media screen and (min-width: $desktop) {
    width: 1360px;
  }
}

.header__container {
  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  padding: 20px 15px 20px 15px;

  @media screen and (min-width: $tablet) {
    max-width: 100%;
    display: flex;

    padding: 0 40px;

    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: $ff;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;

  color: $accent-color;

  list-style: none;
  text-decoration: none;

  cursor: pointer;
  transition: transform 250ms linear;
  transform: scale(1);

  @media screen and (min-width: $tablet) {
    font-size: 35px;
    line-height: 42px;
  }
  &:hover {
    transform: scale(1.05);
    filter: brightness(110%);
  }
}

.span_accent {
  color: $white-color;
}

.menu {
  margin-top: 10px;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

.menu__list {
  display: flex;
  justify-content: center;

  list-style: none;
  text-decoration: none;
}

.menu__link {
  padding: 10px 6px;
  font-family: $ff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  list-style: none;
  text-decoration: none;

  color: $white-color;

  &:hover,
  :focus {
    border-bottom: 3px solid $accent-color;
  }

  @media screen and (min-width: $tablet) {
    padding: 10px 9px;

    font-size: 18px;
    line-height: 28px;
  }
  @media screen and (min-width: $desktop) {
    padding: 10px 19px;
  }
}

//Вмикає якщо це треба реалізувати через JS
// .active {
//   border-bottom: 3px solid $accent-color;
// }
