@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import 'fonts.scss';
@import './all.scss';

@import './base/normalize';
@import './utils/variables';
@import './component/header';
@import './component/hero';
@import './component/about';
@import './component/solutions';
@import './component/cases';
@import './component/blog';
@import './component/team';
@import './component/contact';
@import './component/footer';
@import './utils/lightbox';
